* {
	box-sizing: border-box;
}

body {
	background-color: beige;
	text-align: center;
}
body {
	font-family: "Gill Sans", sans serif;
}
.container {
  max-width: 700px;  
  margin: 0 auto;     
  padding: 1rem;
}

